<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <p id="notice"><%= notice %></p>

      <p><%= image_tag @product.image_url, alt: @product.description, class: "product" %>  </p>
    </div>
    <div class="col-md-5">   
      <p>
      <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
      <strong>Colour:</strong>
        <%= @product.colour %>
      </p>
      <p>
      <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <p>
      <strong>Price £:</strong>
        <%= number_with_precision(@product.price, precision: 2) %>
       
      </p>
      <p>Average rating:
        <div class="rated" data-score="<%= @product.average_rating %>" ></div>
      </p>
    </div>
    
    <%= form_tag "/payments/create" do %>
      <% render partial: "shared/stripe_checkout_button" %>
    <% end %>
    <div class="col-md-10 col-md-offset-2">
      <%= render 'new_comment' %>
      
      <%= render 'comments' %>
      
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>
